In [20]:
import pandas as pd
import csv

In [21]:
import pathlib
pathlib.Path().absolute()

WindowsPath('C:/Users/Regina/Final_Project/Cleaning')

In [22]:
nypd = pd.read_csv (r"C:/Users/Regina/Final_Project/Data/nypd.csv")
nypd.head()

C:\Users\Regina\anaconda3\envs\boogie_woogie\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (8,16,22) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,SUSP_SEX,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
0,689789786,44,BRONX,12/31/2019,00:30:00,NaN,NaN,COMPLETED,NaN,NaN,...,NaN,NaN,25-44,WHITE HISPANIC,F,1008297,247168,40.845070,-73.913088,"(40.84506968900007, -73.91308794499997)"
1,796912049,75,BROOKLYN,01/01/2020,05:30:00,01/01/2020,20:00:00,COMPLETED,NaN,NaN,...,NaN,NaN,25-44,BLACK,M,1011772,185617,40.676118,-73.900780,"(40.67611797400008, -73.90078017499997)"
2,415118336,112,QUEENS,12/31/2019,13:00:00,12/31/2019,13:40:00,COMPLETED,NaN,NaN,...,M,NaN,25-44,WHITE,F,1023625,204071,40.726725,-73.857940,"(40.726725040000076, -73.85794036099998)"
3,535020115,83,BROOKLYN,12/29/2019,12:00:00,NaN,NaN,COMPLETED,NaN,NaN,...,NaN,NaN,25-44,WHITE HISPANIC,F,1008598,194372,40.700158,-73.912191,"(40.70015773000006, -73.91219131299994)"
4,465083418,52,BRONX,01/03/2020,14:30:00,NaN,NaN,COMPLETED,NaN,NaN,...,M,NaN,UNKNOWN,UNKNOWN,E,1017088,260895,40.882718,-73.881247,"(40.88271780700006, -73.88124724999994)"

In [23]:
nypd.rename(columns={'BORO_NM': 'Borough'}, inplace=True)
nypd.rename(columns={'LAW_CAT_CD': 'Crime'}, inplace=True)

In [24]:
nypd.head()

,CMPLNT_NUM,ADDR_PCT_CD,Borough,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,SUSP_SEX,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
0,689789786,44,BRONX,12/31/2019,00:30:00,NaN,NaN,COMPLETED,NaN,NaN,...,NaN,NaN,25-44,WHITE HISPANIC,F,1008297,247168,40.845070,-73.913088,"(40.84506968900007, -73.91308794499997)"
1,796912049,75,BROOKLYN,01/01/2020,05:30:00,01/01/2020,20:00:00,COMPLETED,NaN,NaN,...,NaN,NaN,25-44,BLACK,M,1011772,185617,40.676118,-73.900780,"(40.67611797400008, -73.90078017499997)"
2,415118336,112,QUEENS,12/31/2019,13:00:00,12/31/2019,13:40:00,COMPLETED,NaN,NaN,...,M,NaN,25-44,WHITE,F,1023625,204071,40.726725,-73.857940,"(40.726725040000076, -73.85794036099998)"
3,535020115,83,BROOKLYN,12/29/2019,12:00:00,NaN,NaN,COMPLETED,NaN,NaN,...,NaN,NaN,25-44,WHITE HISPANIC,F,1008598,194372,40.700158,-73.912191,"(40.70015773000006, -73.91219131299994)"
4,465083418,52,BRONX,01/03/2020,14:30:00,NaN,NaN,COMPLETED,NaN,NaN,...,M,NaN,UNKNOWN,UNKNOWN,E,1017088,260895,40.882718,-73.881247,"(40.88271780700006, -73.88124724999994)"

In [25]:
nypd.shape

(196624, 35)

In [26]:
nypd.isnull().sum()

CMPLNT_NUM                0
ADDR_PCT_CD               0
Borough                 193
CMPLNT_FR_DT              0
CMPLNT_FR_TM              0
CMPLNT_TO_DT          19727
CMPLNT_TO_TM          19671
CRM_ATPT_CPTD_CD          0
HADEVELOPT           186709
HOUSING_PSA          181331
JURISDICTION_CODE       180
JURIS_DESC                0
KY_CD                     0
Crime                     0
LOC_OF_OCCUR_DESC     31447
OFNS_DESC                 1
PARKS_NM             195529
PATROL_BORO             180
PD_CD                   180
PD_DESC                 180
PREM_TYP_DESC           588
RPT_DT                    0
STATION_NAME         192580
SUSP_AGE_GROUP        46768
SUSP_RACE             46768
SUSP_SEX              46768
TRANSIT_DISTRICT     192580
VIC_AGE_GROUP             1
VIC_RACE                  1
VIC_SEX                   1
X_COORD_CD                0
Y_COORD_CD                0
Latitude                  0
Longitude                 0
Lat_Lon                   0
dtype: int64

In [9]:
nypd.loc[nypd["Borough"].isnull()]

,CMPLNT_NUM,ADDR_PCT_CD,Borough,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,SUSP_SEX,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
51,262971200,88,NaN,01/20/2020,03:35:00,NaN,NaN,COMPLETED,NaN,NaN,...,M,NaN,45-64,BLACK,M,992195,190879,40.690600,-73.971352,"(40.690600181000036, -73.97135221799994)"
56,802057369,113,NaN,01/21/2020,11:38:00,NaN,NaN,COMPLETED,NaN,NaN,...,NaN,NaN,25-44,BLACK,M,1050316,190878,40.690354,-73.761772,"(40.69035442900008, -73.76177171299997)"
98,939346175,47,NaN,02/03/2020,21:12:00,NaN,NaN,COMPLETED,NaN,NaN,...,M,NaN,25-44,BLACK,M,1024708,266922,40.899228,-73.853654,"(40.89922835500005, -73.85365417799994)"
122,224601594,63,NaN,02/11/2020,18:07:00,NaN,NaN,COMPLETED,GLENWOOD,NaN,...,NaN,NaN,18-24,BLACK,M,1006538,170247,40.633945,-73.919700,"(40.63394542000003, -73.91970037399994)"
124,849644083,25,NaN,02/12/2020,02:30:00,NaN,NaN,COMPLETED,NaN,NaN,...,NaN,NaN,25-44,BLACK,M,1001168,229824,40.797482,-73.938898,"(40.797481848000075, -73.93889813399994)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193863,603516249,75,NaN,06/27/2020,12:34:00,NaN,NaN,COMPLETED,NaN,NaN,...,M,NaN,18-24,BLACK,M,1015129,182067,40.666363,-73.888694,"(40.66636295200004, -73.88869391999998)"
194090,983430318,110,NaN,06/30/2020,23:39:00,NaN,NaN,COMPLETED,NaN,NaN,...,NaN,NaN,18-24,WHITE HISPANIC,M,1020360,211782,40.747904,-73.869679,"(40.74790373800005, -73.86967874999993)"
194257,955674850,75,NaN,06/27/2020,12:34:00,NaN,NaN,COMPLETED,NaN,NaN,...,M,NaN,18-24,BLACK,M,1015129,182067,40.666363,-73.888694,"(40.66636295200004, -73.88869391999998)"
194315,496475796,42,NaN,06/26/2020,22:43:00,NaN,NaN,COMPLETED,NaN,NaN,...,NaN,NaN,18-24,BLACK,M,1010967,241149,40.828542,-73.903462,"(40.82854161000006, -73.90346169699995)"
196584,888603023,13,NaN,06/26/2020,00:30:00,NaN,NaN,COMPLETED,NaN,NaN,...,M,NaN,18-24,WHITE HISPANIC,M,987583,210248,40.743766,-73.987973,"(40.74376638800004, -73.98797324599997)"

In [33]:
nypd = nypd.dropna().reset_index(drop=True)

In [34]:
nypd.dtypes
nypd["CMPLNT_FR_DT"] = nypd["CMPLNT_FR_DT"].astype(int)

In [35]:
nypd.head()

Empty DataFrame
Columns: [CMPLNT_NUM, ADDR_PCT_CD, Borough, CMPLNT_FR_DT, CMPLNT_FR_TM, CMPLNT_TO_DT, CMPLNT_TO_TM, CRM_ATPT_CPTD_CD, HADEVELOPT, HOUSING_PSA, JURISDICTION_CODE, JURIS_DESC, KY_CD, Crime, LOC_OF_OCCUR_DESC, OFNS_DESC, PARKS_NM, PATROL_BORO, PD_CD, PD_DESC, PREM_TYP_DESC, RPT_DT, STATION_NAME, SUSP_AGE_GROUP, SUSP_RACE, SUSP_SEX, TRANSIT_DISTRICT, VIC_AGE_GROUP, VIC_RACE, VIC_SEX, X_COORD_CD, Y_COORD_CD, Latitude, Longitude, Lat_Lon]
Index: []

[0 rows x 35 columns]

In [36]:
nypd.groupby["Crime"].nunque()

TypeError: 'method' object is not subscriptable